<div>
    <div>
        <button [routerLink]="['create']" class="btn btn-danger">Create New Customer</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Company Name
                </th>
                <th>
                    Name
                </th>
                <th>
                    Title
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customerList">
                <td>
                    <a [routerLink]="['details', customer.id]"> {{customer.id}} </a>
                </td>
                <td>
                    {{customer.companyName}}
                </td>
                <td>
                    {{customer.contactName}}
                </td>
                <td>
                    {{customer.contactTitle}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
