<body style="background-color: #ffffff;">
    <header style="text-align: center;">
        <h1>Parenting E-Book Collection</h1>
        <h2><i>Select One Today !</i></h2>
     </header>
     <table style="border: 1px solid red; margin-left: auto; margin-right: auto; ">
             <tbody>
                 <tr>
                 <td style="width: 12opx; border: 1px solid black;">
                     <img src="../../../../../assets/Images/parenting/expect.jpg">
                    </td>
                     <td style="width: 35px; border: 1px solid black;">
                         <a href="books/parenting">parenting</a>
                        </td>
                        <td style="width: 12opx; border: 1px solid black;">
                             <img src="../../../../../assets/Images/financial/TotalMoney.jpg">
                            </td>
                            <td style="width: 35px; border: 1px solid black;">
                                 <a href="books/financial">financial</a>
                             </td>
                </tr>
                 <tr>
                    <td style="width: 12opx; border: 1px solid black;">
                         <img src="../../../../../assets/Images/health/healthPlan.jpg">
                        </td>
                        <td style="width: 35px;border: 1px solid black;">
                             <a href="books/health">health</a>
                            </td>
                            <td style="width: 12opx; border: 1px solid black;">
                                 <img src="../../../../../assets/Images/programming/python.jpg">
                                </td>
                                <td style="width: 35px; border: 1px solid black;">
                                     <a href="books/programming">programming</a>
                                 </td>
                 </tr>
             </tbody>
     </table>
     </body>
