<!-- --question2-- -->

            <h1>Parenting E-Book Collection</h1>
            <h2><i>Select One Today !</i></h2>
         <table>
                 <tbody>
                     <tr>
                     <td>
                         <img src="../e-books/parenting/expect.jpg">
                     </td>
                         <td>
                             <a href="">What to expect</a>
                         </td>
                             <td>
                                 <img src="../e-books/parenting/expect1.jpg">
                                </td>
                                 <td>
                                     <a href="">The First Year</a>
                                 </td>
                    </tr>
                     <tr>
                         <td>
                             <img src="../e-books/parenting/Mama.jpg">
                            </td>
                             <td>
                                 <a href="">Hands Free Mama</a>
                                </td>
                                 <td>
                                     <img src="../e-books/parenting/talk.jpg">
                                    </td>
                                     <td>
                                         <a href="">Talk To Kids</a>
                                     </td>
                     </tr>
                 </tbody>
         </table>

