<table class="table">

    <tbody>
    <tr>
        <td class="image">
        <img src="../../../../../assets/images/parenting/expect.jpg">
        </td>
    
        <td class="link">
            <a class="btn btn-link" [routerLink]="['/books', 'parenting']">Parenting</a>
        </td>
        <td class="image"> 
            <img src="../../../../../assets/images/financial/TotalMoney.jpg">
        </td>
        <td class="link">
            <a class="btn btn-link"  [routerLink]="['/books', 'finance']">Financial</a>
        </td>
    </tr>
        <tr>
            <td class="image">
                <img src="../../../../../assets/images/health/healthPlan.jpg">
            </td>
            <td class="link">
                <a class="btn btn-link"  [routerLink]="['/books', 'health']">Health</a>
            </td>
            <td class="image">
                    <img src="../../../../../assets/images/programming/python.jpg">
            </td>
            <td class="link">
                <a class="btn btn-link"  [routerLink]="['/books', 'programming']">Programming</a>
            </td>
        </tr>
    </tbody>
</table>