.pagebackground {
    background-color: #ffffff;
}

.table {
    border: 1px solid red; 
    margin-left:auto; 
    margin-right:auto; 

}

.centeralignment {
    text-align: center;
}

.table td {
    border: 1px solid black;
}

table td .image {
    width: 120px;
}

table td .linkcell {
    width: 35px;
}

.row {
    width: 100%;
}

.m-15{
    margin: 15px;
}