.pageBackground{
    background-color:#2224A2;
}


.headerstyle{
    font-style: Script MT Bold;
}

table{
    border: 3px black;
    margin-left: auto;
    margin-right: auto;

}

table td{
    border: 1px solid black;
}


table td.imageCell {
    width: 120px;
}


table td.linkCell {
    width:30px
}

.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16;
    font-size: 18px;
}