<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="jumbotron">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let resto of collection'>
        <td>{{resto.id}}</td>
        <td>{{resto.Name}}</td>
        <td>{{resto.address}}</td>
        <td>{{resto.mobile}}</td>
        <td>{{resto.email}}</td>
        <td><a routerLink="/update/{{resto.id}}"><i class="fa fa-edit" style="font-size:25px;color:black"></i></a>&nbsp;&nbsp;
        <i class="fa fa-trash-o" style="font-size:25px;color:red"></i></td>
      </tr>
    </tbody>
  </table>
</div>