.pagebackground {
    background-color: #2224A2;
    text-align: center;
}

.textalignment {
    text-align: center;
}

table {
    border: 1px solid #000000;
    margin:40px;
    align-items: center;
}
input {
    text-align: center;
    color:white;
    background-color: #2224A2;
    border: 1px solid black;
    font-size: 11px;
    padding: 5px;
}
p{
    text-align: center;
    background-color: #cccccc;
    border: 1px solid black;
}