
<nav class="navbar navbar-expand-md navbar-dark bg-primary" id="navbar">
    <!-- <a class="navbar-brand" href="#">About Us</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink='/home'>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='books'>Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/contactUs'>Contact Us</a> 
        </li>
        
      </ul>
      
    </div>
  </nav>