.headerbackground {
    background-image: url('../../assets/Images/bg_head2.png');
}
.balancetext {
    font-size: 30px;
    font-weight: bolder;
}
.border-lr {
    border-left: 2px black solid;
    border-right: 2px black solid;
}